.flightsdata {
  border: 1px solid lightgray;
  border-radius: 4px;
}
.final-flight-data {
  /* border: 1px solid black; */
  width: 815px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  width: 292px;
  height: 106px;
  display: flex;
}
.left-div {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  
}
.flight-finaldata-btn {
  width: 90px;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #ff4f17;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  /* margin-top: 33px; */
}
.full-flights-details {
  background-color: rgb(247, 247, 247);
  color: blue;
  font-size: 12px;
  padding: 5px;
  text-decoration: underline;
}
.flight-headings {
  display: flex;
  justify-content: space-between;
}
.flight-heading {
  margin-top: 10px;
  width: 402px;
  height: 32px;
  background-color: rgb(237, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
}
.left-flightsheadings span {
  padding: 5px;
}
.right-flightsheadings {
  color: blue;
  padding: 5px;
}
.flight-data {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 815px;
  height: 100px;
  gap: 14px;
}
.left-flight-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 100%;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
}
.middle-flight-data {
  display: flex;
  align-items: center;
  gap: 25px;
}
.right-flight-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 100%;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
}
.flight-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.flight-duration {
  line-height: 1.5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #4d4d4d;
}
.flight-stop {
  color: #999;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.flight-time {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1a1a;
  cursor: pointer;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
}
.flight-id {
  color: #999;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
