.flightsdata {
  border: 1px solid lightgray;
  border-radius: 4px;
}
.final-flight-data {
  /* border: 1px solid black; */
  width: 815px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.left {
  width: 292px;
  height: 106px;
  display: flex;
  border: 1px solid lightgray;
}
.right {
  width: 292px;
  height: 106px;
  display: flex;
}
.left-div,
.right-div {
  /* border: 1px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.flight-finaldata-btn {
  width: 90px;
  height: 40px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #ff4f17;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  /* margin-top: 33px; */
}
.full-flights-details {
  background-color: rgb(247, 247, 247);
  color: blue;
  font-size: 12px;
  padding: 5px;
  text-decoration: underline;
}
.flight-headings {
  display: flex;
  justify-content: space-between;
}
.flight-heading {
  margin-top: 10px;
  width: 402px;
  height: 32px;
  background-color: rgb(237, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 5px;
}
.left-flightsheadings {
  display: flex;
  gap: 5px;
}
.left-flightsheadings span {
  padding: 10px;
}
.right-flightsheadings {
  color: #36c;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
}
.flight-data {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 14px;
  cursor: pointer;
}

.leftside-flight-data,
.rightside-flight-data {
  display: flex;
  flex-direction: column;
  width: 405px;
  gap: 5px;
}

.left-flight-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 100%;
  min-height: 100px;
  padding: 5px;
  border-radius: 5px;
  /* gap: 35px; */
}
.middle-flight-data {
  display: flex;
  align-items: center;
  gap: 20px;
}
.source-and-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrival-and-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-flight-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 100%;
  min-height: 100px;
  padding: 5px;
  border-radius: 5px;
}
.flight-price {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.flight-duration {
  line-height: 1.5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #4d4d4d;
}
.flight-stop {
  color: #999;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.flight-time {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1a1a;
  cursor: pointer;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10px; */
  gap: 5px;
}
.flight-id {
  color: #999;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.place {
  line-height: 14px;
  font-size: 10px;
  font-weight: 500;
}
.card-active {
  background-color: #eff5fc;
  border: 1px solid #36c;
}
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}
.notfound-title {
  margin-top: 28px;
  font-weight: 600;
  line-height: 1.25;
  font-size: 24px;
  color: #1a1a1a;
  text-align: center;
}
.notfound-para {
  width: 70%;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 16px;
  color: #666;
}
.notfound-btn {
  font-weight: 600;
  transition: all 0.2s ease;
  line-height: 1;
  font-size: 14px;
  padding: 4px 12px;
  margin-top: 30px;
  height: 32px;
  width: 60%;
  cursor: pointer;
  background-color: #36c;
  color: #fff;
  border: none;
  border-radius: 4px;
}
