.searchflightpage-leftsection {
  margin-left: 100px;
  width: 240px;
  height: auto;
}
.MuiAccordion-gutters.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
}
.filter-btn {
  font-size: 14px;
  color: white;
  border: 0px solid;
  height: 30px;
  width: 90px;
  font-weight: 600;
  background-color: #36c;
  border-radius: 8px;
  cursor: pointer;
}

.filters-title {
  color: #1a1a1a;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.Mui-expanded.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
  margin: 0px 0px !important;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin: 5px;
}
.checkbox-label {
  font-size: 12px;
  color: grey;
  margin-left: 5px;
  font-weight: 500;
}
.checkbox-input {
  width: 17px;
  height: 17px;
}
.range-input {
  width: 100%;
  height: 4px;
  margin: 10px 0;
}
.range-title {
  color: #1a1a1a;
}
.checkbox-label-gap {
}
