.flightpage-offerimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 240px;
  width: 73%;
}
.flightpage-offerimg img {
  width: 312px;
  height: 162px;
}
.flightpage-adfor-download img {
  margin-top: 40px;
  margin-left: 240px;
  width: 984px;
  height: 247px;
}
.flightpage-popular-destination {
  display: flex;
  justify-content: space-around;
  width: 73%;
  margin-left: 230px;
}
.flightpage-popular-destination img {
  width: 184px;
  height: 235px;
  border-radius: 6px;
}
.place-properties-data {
  position: absolute;
  bottom: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: 16px;
  font-size: 18px;
}
.flightpage-homepage-details {
  margin-top: 30px;
  margin-left: 240px;
}
.popular-destination {
  font-weight: 610;
  margin-left: 240px;
  margin-top: 45px;
  margin-bottom: 17px;
}
.details-title {
  font-weight: 600;
  font-size: 18px;
  color: #1a1a1a;
}
.details-para {
  line-height: 20px;
  font-size: 14px;
  padding-top: 16px;
  color: #4d4d4d;
}
.details-title-h5 {
  padding-top: 16px;
  font-weight: 600;
  font-size: 14px;
  color: #1a1a1a;
}
.details-para-2 {
  line-height: 20px;
  font-size: 14px;
  padding-top: 16px;
  color: #4d4d4d;
}
