.hotel-cards {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 338px;
}
.hotel-details {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.hotel-rating-details {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: row;
}
.rating-of-hotel {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(26, 26, 26);
  text-decoration: none;
  cursor: auto;
}

.typeof-hotel {
  display: flex;
  justify-content: space-between;
  margin: 4px 0px;
  gap: 16px;
  flex-direction: row;
}
.hotel-types {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(128, 128, 128);
  text-decoration: none;
  cursor: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.total-people-rated {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(128, 128, 128);
  text-decoration: none;
  cursor: auto;
  text-align: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 72px;
}
.hotel-price-details {
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: start;
}
.price-tax {
  display: flex;
  margin-top: 4px;
  align-items: baseline;
}
.hotel-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(26, 26, 26);
  text-decoration: none;
  cursor: auto;
}
.hotel-tax {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(26, 26, 26);
  text-decoration: none;
  cursor: auto;
}

.per-day-or-night {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(128, 128, 128);
  text-decoration: none;
  cursor: auto;
}

.discount-offers {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.actul-price {
  margin-right: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(128, 128, 128);
  text-decoration: line-through;
  cursor: auto;
}
.percentage-off {
  margin-right: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(17, 166, 112);
  text-decoration: none;
  cursor: auto;
}

.option-of-bank {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(26, 26, 26);
  text-decoration: none;
  cursor: auto;
}

.hotel-price-tax {
  display: flex;
}

.MuiPopper-root .MuiTooltip-tooltip {
  background-color: black;
}

.popup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.popup-main-container {
  width: 250px;
  height: 200px;
  background: fixed;
  background-color: black !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  border-radius: 4px;
}
.popup-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.popup-para {
  font-size: 14px;
  font-weight: 500;
}
.popup-value {
  font-size: 14px;
  font-weight: 500;
}
#dotted-line {
  border-top: 1px dotted white;
  width: 100%;
  margin: 5px 0;
}
.popup-discount {
  font-size: 14px;
  font-weight: 600;
  color: green;
}
