.laptop-offerimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 230px;
  width: 73%;
}
.laptop-offerimg img {
  width: 312px;
  height: 162px;
}
.laptop-adfor-download img {
  margin-top: 40px;
  margin-left: 230px;
  width: 984px;
  height: 247px;
}
.laptop-popular-destination {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  width: 73%;
  margin-left: 230px;
}
.laptop-popular-destination img {
  width: 184px;
  height: 235px;
  border-radius: 6px;
}
.laptop-homepage-details {
  margin-top: 30px;
  margin-left: 230px;
}
