.left-aside {
  /* margin-top: 30px; */
  margin-left: 35px;
  width: 12rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-aside-bar {
  margin-top: 37px;
  padding: 5px;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.left-aside-bar span {
  color: black;
  margin-left: 10px;
  font-weight: 700;
  font-size: 0.95rem;
}
.left-aside-bar:hover {
  background: lightblue;
  border-radius: 5px;
}
.left-aside-bar span:hover {
  color: blue;
}
