.left-aside {
  margin-top: 55px;
  margin-left: 35px;
  width: 12rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.active {
  color: #36c !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
/* parent to child check kiya he*/
.active .left-navbar {
  background-color: rgb(183, 204, 245);
}
.left-navbar {
  width: 202px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}
.left-navbar:hover {
  background: rgb(202, 232, 242);
  border-radius: 5px;
  color: blue;
}

.nav-list {
  list-style: none;
}
.pending {
  font-weight: 500;
  color: #1a1a1a;
}
.tallIcon {
  height: 25px;
  width: 25px;
}
