.middle-section {
  width: 796px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px 20px;
  margin-top: 16px;
}
.middle-section h1 {
  padding: 0;
  margin: 0;
}
.middle-section h2 {
  padding: 0;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}
.middle-section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  width: 700px;
  height: 320px;
  border-radius: 7px;
}
.flightsearch-innerdata {
  padding: 10px 20px;
  height: 240px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.flightsearch-section {
  border: none;
  font-size: 1rem;
}

.flightsearch-button {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 10px;
  align-items: start;
  justify-content: start;
  gap: 9px;
}

.flightsearch-button button {
  margin-bottom: 5px;
  padding: 9px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 18px;
  font-weight: 600;
}
.flightsearch-button button:hover {
  background-color: #f3f2f2;
}
.flightsearch-search {
  border: 1px solid lightgray;
  height: 52px;
  margin-top: 20px;
  border-radius: 6px;
}
.departure-inputcard {
  width: 290px;
  height: 50px;
  position: relative;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.search-input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  width: 200px;
}
.departure-icon {
  margin: 0px 12px;
}

.flightsearch-search-calender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid grey;
}
.trasition {
  z-index: 10;
  margin-left: 16px;
  margin-right: 16px;
  left: -32px;
  top: 8px;
}
.flightsearch-search-calender {
  display: flex;
  align-items: center;
}
.flightsearch-search-calender button {
  color: #fff;
  background-color: #f77728;
  height: 55px;
  width: 180px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.popular-search {
  padding-bottom: 30px !important;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards-data {
  width: 180px;
  height: 60px;
  border: 1px solid lightgray;
  margin-left: 8px;
  border-radius: 5px;
}
.cards-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-innerdata {
  font-size: 14px;
  font-weight: 600;
}
.calender {
  display: flex;
  gap: 5px;
}
