.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 39px;
}
.custom-button {
  background-color: rgb(15, 107, 255);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  text-transform: none;
  border: none;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.nav-para {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.navbar {
  height: 60px;
}

.toaster-visible .navbar {
  height: 100px;
}
