.rightaside-secondcarousel {
  width: 16.5rem;
  height: 17rem;
  line-height: 1.3rem;
  border-radius: 7px;
  border: 1px solid lightgray;
}

.rightaside-secondcarousel > div {
  height: 98% !important;
}
