.trending-places {
  width: 322px;
  height: 252px;
}
.trending-places-img {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.trending-places-name {
  margin-top: 16px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.trending-places-details {
  padding-bottom: 0;
  padding-top: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(128, 128, 128);
  text-decoration: none;
}
